<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <ul>
        <h2>NAMES ARE:</h2>
        <% for(let i=0;i<users.length;i++){%>
            <li><%=users[i]%></li>
        <%}%>

        <%if(value==1){%>
            <h2>CLOSE BUT NOT THE NUMBER</h2>
        <%}else if(value==2){%>
            <h2>HURRAY</h2>
        <%}else{%>
            <h2>TRY AGAIN</h2>
        <%}%>
    </ul>
</body>
</html>