<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DATA SHOWN</h1>
        <table border="4">
            <tr>
            <td>course</td>
            <td>age</td>
            <td>name</td>
            <td>process</td>
        </tr>
        <% data.forEach(student=>{ %>
            <tr>
                <td><%=student.course%></td>
                <td><%=student.age%></td>
                <td><%=student.name%></td>
                <td><a href="/delete/<%=student._id%>">Delete</a></td>
            </tr>
        <%})%>
    </table>
    <!-- <button><a href="http://localhost:3200/api">API</a></button> -->
</body>
</html>